nav, .nav-card, footer {
    background-color: #fff0ed;
}
.nav-card img {
    min-height: 240px;
    max-height: 550px;
}
button {
    font-style: 21px;
    font-weight: 400;
    color: white;
    background-color: #5bacc3;
    border: none;
    margin: 0%;
}
.discount-banner {
    color: white;
    background-color: #393939;
    min-width: 400;
    max-width: 90%;
    text-align: center;
    margin-top: 0%;
}
